name: Build C/C++ code

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:	

jobs:
  windows-build:
    runs-on: windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: import Z80-support.h @simonowen
      run: C:\msys64\usr\bin\wget.exe --directory-prefix=sources/ https://raw.githubusercontent.com/simonowen/tilemap/master/Z80-support.h

    - name: import Z80-support.h @simonowen
      run: C:\msys64\usr\bin\wget.exe --directory-prefix=sources/ https://raw.githubusercontent.com/redcode/Z80/master/API/emulation/CPU/Z80.h

    - name: import Z80-support.h @simonowen
      run: C:\msys64\usr\bin\wget.exe --directory-prefix=sources/ https://raw.githubusercontent.com/redcode/Z80/master/sources/Z80.c

    - name: dir
      working-directory: ./sources
      run: dir
      

  ubuntu-build:
    needs: windows-build
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: import Z80-support.h @simonowen
      uses: wei/wget@v1
      with:
        args: --directory-prefix=sources/ https://raw.githubusercontent.com/simonowen/tilemap/master/Z80-support.h

    - name: import Z80.h @redcode
      uses: wei/wget@v1
      with:
        args: --directory-prefix=sources/ https://raw.githubusercontent.com/redcode/Z80/master/API/emulation/CPU/Z80.h

    - name: import Z80.c @redcode
      uses: wei/wget@v1
      with:
        args: --directory-prefix=sources/ https://raw.githubusercontent.com/redcode/Z80/master/sources/Z80.c

    - name: Compile main.cpp
      working-directory: ./sources
      run: g++ -c main.cpp -o main.o -D CPU_Z80_USE_LOCAL_HEADER -D CPU_Z80_STATIC -D CPU_Z80_DEPENDENCIES_H=\"Z80-support.h\" -D CPU_Z80_HIDE_ABI

    - name: Compile bdos.cpp
      working-directory: ./sources
      run: g++ -c bdos.cpp -o bdos.o -D CPU_Z80_USE_LOCAL_HEADER -D CPU_Z80_STATIC -D CPU_Z80_DEPENDENCIES_H=\"Z80-support.h\" -D CPU_Z80_HIDE_ABI
        
    - name: Compile Z80.c
      working-directory: ./sources
      run: gcc -c Z80.c -o Z80.o -D CPU_Z80_USE_LOCAL_HEADER -D CPU_Z80_STATIC -D CPU_Z80_DEPENDENCIES_H=\"Z80-support.h\" -D CPU_Z80_HIDE_ABI
        
    - name: Link CPM
      working-directory: ./sources
      run: g++ main.o bdos.o Z80.o -o cpm -static-libgcc
      
    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: cpm-ubuntu-x64
        path: ./sources/cpm
