name: Build C/C++ code

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:	

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: import Z80-support.h @simonowen
      uses: wei/wget@v1
      with:
        args: --directory-prefix=sources/ https://raw.githubusercontent.com/simonowen/tilemap/master/Z80-support.h

    - name: import Z80.h @redcode
      uses: wei/wget@v1
      with:
        args: --directory-prefix=sources/ https://raw.githubusercontent.com/redcode/Z80/master/API/emulation/CPU/Z80.h

    - name: import Z80.c @redcode
      uses: wei/wget@v1
      with:
        args: --directory-prefix=sources/ https://raw.githubusercontent.com/redcode/Z80/master/sources/Z80.c

    # Runs a single command using the runners shell
    - name: Run a one-line script
      working-directory: ./sources
      run: |
        ls -al
        g++ -c main.cpp -o main.o -D CPU_Z80_USE_LOCAL_HEADER -D CPU_Z80_STATIC -D CPU_Z80_DEPENDENCIES_H=\"Z80-support.h\" -D CPU_Z80_HIDE_ABI
        

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

#https://github.com/simonowen/tilemap/blob/master/Z80-support.h
#    - name: import Z80.h

#    - name: import Z80.c



#    - name: configure
#      run: configure
#    - name: make
#      run: make
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
