name: C/C++ CI

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:	

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: import Z80-support.h
      run: git archive --remote=ssh://github.com/simonowen/tilemap.git HEAD Z80-support.h | tar -x


    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

#https://github.com/simonowen/tilemap/blob/master/Z80-support.h
#    - name: import Z80.h

#    - name: import Z80.c



#    - name: configure
#      run: configure
#    - name: make
#      run: make
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
